@background:        #160A27;
@foreground:        #E0D7F8;
@cursor:            #ffffff;
@selection:         #8665b6;

@comment:           #cac0d9;
@string:            #98C379;
@number:            #D19A66;
@keyword:           #dfa7ef;
@function:          #61AFEF;
@variable:          #E5C07B;
@type:              #56B6C2;
@constant:          #BB80B3;
